* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 17px;
}

body {
  background-color: rgb(255, 254, 248);
  border-top: 10px solid rgb(93, 157, 56);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 8px auto;
  font-family: Times, "Times New Roman", serif;
  font-weight: 800;
  font-size: 35pt;
  width: max-content;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

h1:hover {
  background-color: rgb(236, 235, 232);
}

.nav {
  width: min(95vw, 600px);
  display: none;
  background-color: rgb(255, 254, 248);
  margin: 0 auto;
  box-shadow: 5px 10px 15px grey;
  right: 0;
  left: 0;
  top: 10px;
  padding: 0px 15px;
  border-radius: 6px;
  position: fixed;
}

.nav > a {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 0 10px 10px 10px;
}

.card {
  border-radius: 0 0 8px 8px;
  border-top: 3px solid rgb(93, 157, 56);
  background-color: rgb(244, 243, 240);
  padding: 10px;
  width: min(100vw, 400px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card:hover {
  background-color: rgb(236, 235, 232);
}

.card:hover .info {
  color: #3838f0;
}

.card_header {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.card_header img {
  height: 25px;
  margin-bottom: 11px;
}

.info,
.close {
  width: 20px;
  height: 20px;
  margin-left: auto;
  color: #4b4b4b;
  cursor: pointer;
}

.close {
  width: 22px;
  height: 22px;
  display: none;
  padding: 2px;
  border-radius: 2px;
}

.close:hover {
  background-color: #c6c4c4dd;
}

.content {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  gap: 8px 15px;
  width: 100%;
}

.size_bar {
  text-align: center;
  background-color: #c6c4c4dd;
}

.equity {
  background-color: rgb(101, 154, 101);
  float: left;
}

.profit {
  background-color: rgb(101, 118, 154);
  float: left;
}

.percent {
  float: left;
  margin-left: 4px;
}

.plattforms {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.plat_logo {
  width: 88px;
  height: 28px;
  padding: 3px;
  background-color: #c6c4c4dd;
}

.plat_logo:hover {
  border: solid 1px #3838f0;
  padding: 2px;
}

.extra {
  display: none;
}

.extra a {
  padding-right: 5px;
}

.flag {
  position: relative;
  display: inline;
  font-size: 22px;
}

.flag .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.flag .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.flag:hover .tooltiptext {
  visibility: visible;
  font-size: 16px;
}

#page-container {
  position: relative;
  min-height: calc(100dvh - 18px);
}

#content_wrap {
  padding-bottom: 35px;
}

footer {
  background-color: rgb(93, 157, 56);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  flex-wrap: wrap;
}

footer > * {
  color: white;
  text-decoration: none;
  color: rgb(244, 243, 240);
  margin: 0 2px;
  font-size: 14px;
}

footer span:not(:first-child) {
  display: inline-block;
  height: 18px; /* Adjust the height as needed */
  vertical-align: middle; /* Align the separator vertically with the text */
}